html, body
{
  background-color: #ECEFF1!important;
  color: #000;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

table a, table a:hover, table a:focus, table a:visited
{
  color: #000 !important;
  transition: all 0.2s ease-in-out;
}

table a:hover {
  text-decoration: underline !important;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}

#__nuxt {
  height: 100%;
}

pre {
  padding: 8px !important;
  background: #eee;
}
pre code {
  padding: 8px !important;
  background: #fff !important;
}

.components-panel {
  width: 100%;
  background: #fff;
  padding: 36px 16px;
  background: #eee;
}

.components-panel-inner {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.veb-dark-theme .components-panel{
  background: #263238;
}

.veb-dark-theme  pre {
  background: #263238;
}


.page-enter-active, .page-leave-active {
  transition: all .2s ease-out;
  opacity: 1;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}
.page-enter-active {
  animation: acrossIn .25s ease-out both;
} 

.page-leave-active {
  animation: acrossOut .35s ease-in both;
} 

@keyframes acrossIn {
  0% {
    transform: translate3d(0, -20px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes acrossOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 50px, 0);
  }
}