$animation-fast-out-slow-in-timing-function: cubic-bezier(.4, 0, .2, 1);
$animation-linear-out-slow-in-timing-function: cubic-bezier(0, 0, .2, 1);
$animation-fast-out-linear-in-timing-function: cubic-bezier(.4, 0, 0, 1);

$animation-deceleration-curve-timing-function: cubic-bezier(0, 0, .2, 1) !default;
$animation-standard-curve-timing-function: cubic-bezier(.4, 0, .2, 1) !default;
$animation-acceleration-curve-timing-function: cubic-bezier(.4, 0, 1, 1) !default;
$animation-sharp-curve-timing-function: cubic-bezier(.4, 0, .6, 1) !default;